.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 25rem; /* Stay at the top */
    margin-left: -50px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 28px;
    display: block;
  }

  .share-button {
      display: block;
  } 

  .text-dark {
      color: #5E6472; 
   }
   .text-dark h1 {
      
   }

 
  .activity-modal {
    
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    background-color: #FF5E58;
    color:#FFFFEA;
    padding: 25px;
    border: black solid 1px;
    border-radius: 16px;
  }
  .card-notes {
      background: #00cecb;
      border-radius: 15px;
      margin: 10px;
  }

  .progress-bar-food{
      background-color:black;
  }
 
  
    .schedule a{
        background-color: #FF5E5B;
        color:#FFFFEA;
        margin: 10px;
    }
    .schedule a:hover{
        background-color: rgba(255, 94, 91, 0.288);
        color:#5E6472;
    }

    .btn-event {
        background-color:#00CECB;
        border: none;

    }
    .btn-event:hover {
        background-color:#FFED66;
        color: #5E6472;
        border: none;
    }
    .btn-edit {
        height: 10px;
        width: 10px;
        background-color: blue;
    }

    .trip-info p {
        font-size: medium;
    }

    .btn-plain{
        border: none;
        color:inherit;
        background-color: inherit;
        text-align: left;
        outline:none;
        border:none;
        margin: none;
        padding: none;
        
    }
    
button:active {
    outline: none;
    border: none;
    }
    
    .tabs-internal{ 
        border:2px solid #FF5E5B;
        border-radius: 15px;
        padding:20px 0px 10px 10px;
        margin-right: 10px;
        

    }
    .tabs-outline{
        border:2px solid #FF5E5B;
        border-radius: 15px;
        padding:10px;
        margin: 10px;
    }

    .costas{
        margin: 20px;
    }

    .progress-bar-costs {
        height:40px;
        padding: 10px;
        background-color: #d8d8d8;
        color: #5E6472;
        margin-bottom: 20px
    }
    .progress-bar-food {
        color:#FFFFEA;
        background-color: #00CECB;
    }
    .fontnames label {
        color: black;
        font-weight: bold;
        margin-left: 6pt;
        font-family: 'Quicksand', sans-serif;
        width: 200;
        margin-top: 2%;
        text-align: left;
      }
      .small-padding {
          margin:10px
      }