.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 25rem; /* Stay at the top */
    margin-left: -50px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 28px;
    display: block;
  }

  .share-button {
      display: block;
  } 

  .text-dark {
      color: #5E6472; 
  }

 
  .activity-modal {
    
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    background-color: #FF5E58;
    color:#FFFFEA;
    border: #FF5E58 solid 20px;
    border-radius: 16px;
  }
  .card-notes {
      background: #FF5E58;
  }

  .progress-bar-food{
      background-color:black;
  }
 
  
    .schedule a{
        background-color: #FF5E5B;
        color:#FFFFEA;
    }
    .schedule a:hover{
        background-color: rgba(255, 94, 91, 0.288);
        color:#FFFFEA;
    }

    
    