/* UNIVERSAL */
h6 {
  font-family: 'Palanquin Dark', sans-serif;
}

h5 {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Palanquin Dark', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/* NAV BAR */
.nav-bar {
  text-decoration: none;
}

.nav-bar h4 {
  color: rgb(15, 15, 15);
  font-weight: bold;
  text-decoration: none;
}

.nav-bar h5 {
  color: rgb(39, 39, 39);
}

/* HOME */
.home h3 {
  display: block;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.home h2 {
  display: block;
  font-size: 48px;
  margin-bottom: 4%;
  text-align: center;
}

/* ITINERARY PLANNER */
.planner {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.planner h5 {
  font-weight: bolder;
  font-size: larger;
  color: black;
}

.planner h4 {
  font-weight: lighter;
  font-size: small;
  color: #333;
}

.planner h3 {
  font-weight: lighter;
  font-size: small;
  color: rgb(80, 80, 80);
}

.planner p {
  font-size: medium;
  font-weight: bold;
}

/* RUJULA STUFF */
#container {
  width: 100%;
  height: 900px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 10px;
}

#one {
  width: 60%;
  height: 700px;
  background: #c7d0d8;
  float: left;
}

#two {
  margin-left: 15%;
  height: 700px;
  background: white;
  text-align: center;
}
#three {
  width: 100%;
  height: 1000px;
  background: #c7d0d8;
  text-align: center;
}
#left {
  text-align: right;
}
.login h6 {
  display: block;
  font-size: 52px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
}
.login h5 {
  margin-top: 0;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 8px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
}
.login h4 {
  margin-top: 0;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  text-align: left;
  display: inline-block;
}
.login h3 {
  display: block;
  font-size: 120px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}
.login h2 {
  display: block;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4%;
  text-align: center;
}
#exampleInputEmail1
{
  border-width: 0; 
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 3px dotted #c7d0d8;
  margin-bottom: 1%;

}
#LogIn
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 13%;
  height: 30px;
  margin-bottom: 1%;
}
#Forgot
{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-size: 11px;
}
#SignUp{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
}
.dropbtn {
  background-color: white;
  color: #c7d0d8;
  padding: 16px;
  font-size: 16px;
  text-align: left;
  width: 1000px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  min-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  color: #c7d0d8;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  color: #a5abb1;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}









.box {
  width: 99%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  text-align: center;
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  color:black;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup {
  margin: 70px auto;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}