/* UNIVERSAL */


h6 {
  font-family: 'Palanquin Dark', sans-serif;
}

h5 {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Palanquin Dark', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h7 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: x-large;
  margin-top: 5%;

}

p {
  font-family: 'Quicksand', sans-serif;
}


/* NAV BAR */
.nav-bar {
  box-shadow: 1px 2px 4px rgba(41, 41, 41, 0.2);
  text-decoration: none;
  background-color: #FFFFEA;
  color: white;
  /* position: fixed; */
  z-index: 100;
  width: 100%;
}

.nav-bar Button {
  color: #FF5E5B;
  background-color: transparent;
  border-color: #FF5E5B;
}

.nav-bar Button:hover
{
  color: #FFFFEA;
  background-color: #FF5E5B;
  border-color: #FFFFEA;
}

.nav-bar .navButtons {
  text-decoration: none;
  color: rgb(15, 5, 95);
}

Link {
  text-decoration: none;
}

.nav-bar h4 {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar h5 {
  color: white;
  font-size: 23px;
}

.nav-bar Button{
  color: #FF5E5B;
}


/* HOME */

.home h3 {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  text-shadow: rgba(41, 41, 41, 1);
  color: rgb(255, 255, 255);
}

.home h2 {
  font-size: 48px;
  margin-bottom: 4%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.home h4 {
  font-size: 48px;
  font-family: 'Palanquin Dark', sans-serif;
  text-align: center;
  padding: 20px;
}

.home .searchBar {
  position: relative;
  width: 100%;
  display: inline-block;
}

.home Button {
  color: #FF5E5B;
  background-color: transparent;
  border-color: #FF5E5B;
}

.home .options Button:hover {
  color: #FFF;
  background-color: #FF5E5B;
  border-color: #FFF;
}

.home .main-text
{
  position: absolute;
  top: 40%;
  width: 60%;
  background-color: rgba(41, 41, 41, 0.6);
  box-shadow: rgba(41, 41, 41, 0.2);
  padding: 2%;
  margin-left: 20%;
  z-index: 100;
  border-radius: 25px;
}

.home .main-text Button {
  color: #FFFFEA;
  background-color: #FF5E5B;
  border-color: #FFFFEA;
}

.home .main-text Button:hover
{
  color: #FF5E5B;
  background-color: #FFFFEA;
  border-color: #FF5E5B;
}

.home Col{
  background-color: #069;
}


.home .options {
  /* background-image: url("./img/pertrek_home_bg.png"); */
  background-color:#FFFFEA;
  overflow: hidden;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.home .carousel-container{
  /* height:1000px; */
  height:90vh;
  width:100%;
  z-index: -10;
}

.home .banner {
  /* height:300px;
  width:100%; */
  max-width:100%;
  max-height:100%;
  overflow:hidden;
  z-index: 100;
  box-shadow: rgba(41, 41, 41, 0.9);
}

/* FAVORITES */
/* .favorites {
  background-color: rgb(255, 255, 255);
  padding: 3%;
} */

.favorites .banner
{
  position: absolute;
  top: 15%;
  width: 60%;
  padding: 2%;
  margin-left: 38%;
  z-index: 100;
}

.favorites .banner h1 {
  color: #FFFFEA;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.planner .sandcastle {
  margin-left: 25%;
  opacity: 90%;
}

.planner .favP {
  text-align: center;
  color: #333;
}

/* ITINERARY PLANNER */
.scheduler .banner
{
  position: absolute;
  top: 15%;
  width: 60%;
  padding: 2%;
  margin-left: 30%;
  z-index: 100;
}

.scheduler .banner h1 {
  color: #FFFFEA;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.planner {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.planner h1 {
  font-weight: bolder;
  font-size: larger;
  color: rgb(29, 29, 29);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.planner h5 {
  font-weight: bolder;
  font-size: larger;
  color: black;
}

.planner h4 {
  font-weight: lighter;
  font-size: small;
  color: #333;
}

.planner h3 {
  font-weight: lighter;
  font-size: small;
  color: rgb(80, 80, 80);
}


.planner p {
  font-size: medium;
  font-weight: bold;
}

.planner h2 {
  font-weight: lighter;
  font-size: small;
  /* color: rgb(80, 80, 80); */
  color: #069;
  /* text-decoration: underline; */
  cursor: pointer;
}

/* .planner Jumbotron {
  background-image: url('./img/banner-empty.png');
  height: 30vh;
  margin:auto;
} */

.planner .card-img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.planner map {
  width: 85%;
  height: 10vw;
}

.mapBox {
  height: 400px;
  background-color: royalblue;
}

.planner Button {
  margin-right:5px;
}

/* ATTRACTIONS */
.attractions {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.attractions h1 {
  font-weight: bolder;
  font-size: larger;
  color: rgb(29, 29, 29);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.attractions h5 {
  font-weight: bolder;
  font-size: larger;
  color: black;
}

.attractions h4 {
  font-weight: lighter;
  font-size: small;
  color: #333;
}

.attractions h3 {
  font-weight: lighter;
  font-size: small;
  color: rgb(80, 80, 80);
}

.attractions p {
  font-size: small;
}

.attractions h2 {
  font-weight: lighter;
  font-size: small;
  color: #069;
  cursor: pointer;
}

.attractions .card-img {
  width: 100%;
  height: 6vw;
  object-fit: cover;
}

.attractions map {
  width: 85%;
  height: 10vw;
}


.attractions Button {
  margin-right:5px;
}

/* RUJULA STUFF */
#container {
  width: 100%;
  height: 900px;
  background: white;
  margin: auto;
  padding: 10px;
}

#one {
  width: 50%;
  height: 300px;
  background: gray;
  float: left;
}

#two {
  margin-left: 15%;
  height: 300px;
  background: white;
  text-align: center;
}
#three {
  width: 100%;
  height: 1000px;
  background: #c7d0d8;
  text-align: center;
}
#accountone {
  width: 30%;
  height: 1200px;
  background: white;
  float: left;
  border-right: 1px solid #ddd;
  
}
#topbottom{
  color: black;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 38pt;
}
#badcoding{
  height: 8pt;
}
#accounttwo {
  margin-left: 15%;
  height: 1200px;
  background: white;
  text-align: center;
  
}
#actwo {
  margin-left: 29%;
  height: 370px;
  background: white;
  text-align: center;
  margin-bottom: 4%;
 
}
#actwo2 {
  margin-left: 29%;
  background: white;
  text-align: center;
  margin-bottom: 4%;
}
#acone {
  width: 25%;
  height: 900pt;
  background: white;
  float: left;
  border-right: 1px solid #ddd;
  
  
}
#SettingPage{
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.settingForm{
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 5%;
}
.bottom-left3 {
  position: absolute;
  bottom: 350px;
  left: 540px;
  height: 40%;
  width: 30%;
  background-color:white;
  border: 1px solid #ddd;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 170px;
  left: 146px;
  height: 50%;
  width: 30%;
  background-color:white;
  border: 2px solid #ddd;
}
.settingForm2{
  margin-top: 5%;
  margin-left: 5%;
}
/* Bottom left text */
.bottom-left2 {
  position: absolute;
  height: 85%;
  width: 74%;
  background-color:white;
  border: 2px solid #ddd;
  bottom: 0px;
}
.bottom-middle {
  position: absolute;
  bottom: 330px;
  left: 296px;
  height: 40%;
  width: 65%;
  background-color:transparent;
  
}
#lll{
  background-color: #ff5e5b;
  height: 190pt;
  width: 250pt;
  margin-right: 2%;
  
  
  
}
.llll h1{
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 30%;
}
#rock{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-left: 4%;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/P3MT7ExOanB7zezGkHGzhkyx48oVz6Au8BdiXqf8qE1K_39-t74F41iWqsz01R_hHdts3flrcudCK_KVyl0fmdKbum_0Yt0mLPDgGqim-9P1lft0kaPooLwnGn-X248ygk00uydk5w=w2400);
}

#rock2{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/gZsYog9IZmBV-M8IBEO1mrZuvxBFLf2-3wwR8Z4JaU44E0LlSdfH-IFTysl7E4GTiHvchERnHRRbVoJUJnKF4Y7DKBE2fdfmazyU9BKXzTqFERSLRgkVgi_secGEC3F7UGQ_Gsfmdg=s64-p-k);
}
#rock3{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/KvN4WzPZ5X3tnF8vYAvNYo3fiYJP1vMzP0pUq7STlOv_zBLw14-grMVHSDau63i0MN2cuRDb2M24jgrqLKvuIM4UL_0zxinF24m-IkHKfYtt4mMGBnbyk_yGns37xWU77DqQAsKV8g=w2400);
}
#rock4{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/yZfIZspYFaC86sv2ruTKn9amZin2th55khzp33K8gIRrGJirH20cd7-_1UjzL1SWp_c_yPVvTqQPCelnxcQig8M5pNFU58ODhoHTfY38be3a7dqFoNXF3Z5POOZ-v4rYlabAM5OyCg=w2400);
}
#rock5{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/BHnA-XZR0nw8-q6RByHfoS7ipsUIdtOQYUZhhlp8c_uxkg-FsHDe9Z9hDsn8FEbeMJT7GH07LujG_ZEhgHYwYqIAwpaCw_zT7TpAI2z9S2kEPWc5TEhpTkDjl_b7p8Jpb3JSCw52NQ=w2400);
}
#rock6{
  font-size: 18px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/jFMYV7ttOTapTtRk-qY3_9XNPwuie1RpBn4HFUgpZskU_O-PN2BnePWMPfK-fJKgUvQV9Ea4QosTkCQGufblGVybETA-fpO9qaQ08UXMTaxngaZ7A3d8mFmAt30AJ7GKhYBJEIvyfQ=w2400);
}
#rock7{
  font-size: 10px;
  border: 0px solid #AD235E;
  border-radius: 100px;
  color: #FF5E5B;
  width: 82px;
  height: 82px;
  margin-left: 4%;
  margin-right: 4%;
  background-image: url(https://lh3.googleusercontent.com/uH-i5B7qqgRDGEYoZvZNrJcXf-FbJ3KwUWfV9JaVAHZ09rBwu-h22zjqghS1GsmOQEKUBRFfTtXjBlW1GlrCc62PkR15KUp1MYKbGumQayjtCfIXW3biA3o_WTWMEKeTkmZP6g1t_w=w2400);
}

#icon{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0%;
}
#move{
  text-align: center;

}

#left {
  text-align: right;
  padding: 5px;
}
.Account h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;

}
.Account h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
  
}
.Account h3{
  display: block;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 8%;
  margin-bottom: 0%;
  
}

.Account h5{
  display: block;
  font-size: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 2%;
  margin-bottom: 0%;
}
.Account h6{
  display: inline;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;

  
}
#cus{
  margin-top: 5%;
  margin-bottom: 5%;
  
}
#hello{
  width: 800pt;
}

.Custom time{
  height: 200px;
}
.fontnames label {
  color: black;
  font-weight: bold;
  margin-left: 6pt;
  font-family: 'Quicksand', sans-serif;
  width: 100px;
  margin-top: 2%;
  text-align: left;
}
.Custom label {
  color: black;
  font-weight: bold;
  margin-left: 6pt;
  font-family: 'Quicksand', sans-serif;
  width: 75px;
  margin-top: 2%;
  text-align: left;
  }
  .Custom input{
    width: 1.2em;
    height: 1.2em;
    padding-left: 5pt;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
  } 
.Custom input:checked {
  background-color: gray;
}
.Custom h1{
  font-family: 'Quicksand', 'Palanquin Dark', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.TimeInput input{
  background-color: transparent;
  border-color: transparent;
  color: black;
}
#timeeee{
  height: 250pt;
  margin-top: 3%;
}
#wakeup{
  margin-top: 3%;
  text-align: center;
}
#bedtime{
  margin-top: 3%;
  text-align: center;
}
#meals{
  height: 200pt;
}
#meal2{
  height: 50pt;
}
#meals2{
  margin-top: 2%;
  margin-bottom: 3.5%;
  color: white;
}
#meals4{
  height: 130pt;
  float: center;
 
}
.moreMealStuff h4{
  color: black;
  font-size: large;
}
#mealbudgetstuff{
  margin-top: 10%;
}
.MealsStuff input{
  border-width: 0;
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 3px dotted #c7d0d8;
  margin-bottom: 1%;
  
}
.MealsStuff2 input{
  border-width: 0;
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 3px solid white;
  background-color: #ff5e5b;
  margin-bottom: 1%;
  
}
.MealsStuff h4{
  margin-top: 3%;
  font-size: 20pt;
  margin-left: 5%;
  
}

#moreMealStuff{
  margin-left: 1.5%;
  
}
#outlinemeal{
  background-color: #ff5e5b;
  border-width: 4px;
  border: 3px solid #ff5e5b;
  height: 120pt;
  width: 160pt;
  text-align: center;
  margin-bottom: 100pt;
  padding: 10px;
  color: white;
  
  
}
#savemealc{
  margin-bottom: 1%;
}
#movedown{
  margin-top: 1%;
}
#piechart{
  height: 300pt;
  width: 300pt;
}
#RentalCar{
  text-align: center;
}
#carone {
  width: 100%;
  height: 280pt;
  background-color: #ff5e5b;
  border-width: 20pt;
  float: left;
  font-family: 'Quicksand', sans-serif;
}
#centericonsave{
  text-align: left;
  margin-left: 7pt;
  margin-top: 8pt;
}

#cartwo {
  margin-left: 15%;
  height: 280pt;
  background: white;
  text-align: center;
  border:15px solid #c7d0d8;
}
#carthree {
  height: 15pt;
  background: white;

}
#icondown{
  margin-top: 4%;
}
.Car h1{
  margin-top: 3%;
  font-size: 27pt;
  color: #fff;
}
.Car h3{
  margin-left: 5%;
  font-size: 20pt;
  color: #fff;
}
.Car h4{
  font-size: 20pt;
  text-align: left;
  margin-left: 11%;
  margin-top: 2%;
  color: #fff;
}
.Car h5{
  margin-left: 11%;
  color: white;
}
.Car2 h1{
  color: #fff;
}
.Carlable h5{
  text-align: center;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 30px;
  color: #c7d0d8;

}
.CarCar input{
  margin-left: 11%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
#CardLeft{
  margin-left: 15%;
  margin-top: 2%;
}
#planebut{
  font-family: 'Palanquin Dark', sans-serif;
  background-color: transparent;
  border-width: 4pt;
  border-color: #c7d0d8;
  margin-left: 280pt;
  font-size: 30px;
  width: 250pt;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #c7d0d8;
}
#planebut2{
  font-family: 'Palanquin Dark', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c7d0d8;
  margin-left: 280pt;
  font-size: 30px;
  width: 250pt;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #c7d0d8;
}
#planebut4{
  font-family: 'Palanquin Dark', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #FF5E5B;
  border-top: 1px dotted #FF5E5B;
  font-size: 20px;
  width: 190pt;
  height: 40pt;
  color: #FF5E5B;
  margin-top: 7%;
}
#planebut3{
  font-family: 'Quicksand', sans-serif;
  background-color:#c7d0d8 ;
  border-width: 0pt;
  color: white;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 17pt;
}
#flight{
  width: 100%;
  height:280pt;
  background-color: #FF5E5B;
  display: inline-block;
  margin-right: 3%;
  text-align: center;
  margin-top: 3%;
}
.flightStuff input {
  margin-top: 1%;
  margin-bottom: 2%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 200pt;
  margin-left: 6%;
  font-family: 'Quicksand', sans-serif;
  font-size: 15pt;
}
#FlightLeft{
  text-align: right;
  margin-top: 4%;
  margin-right: 4%;
}

#FlightLeft2{
  
  width: 450pt;
  background-color: #c7d0d8;
}

.flightStuff h6{
  color: white;
  text-align: left;
  font-size: 20pt;
  font-family: 'Quicksand', sans-serif;
  margin-left: 11%;
}
.flightStuff h1{
  color: white;
  text-align: center;
  font-size: 28pt;
  font-family: 'Quicksand', sans-serif;
  text-decoration: bold;
  margin-top: 1%;
  margin-bottom: 3%;
}
.Plane h1{
  font-family: 'Palanquin Dark', sans-serif;
  text-decoration: bold;
  text-align: center;
  color: #c7d0d8;
}
.flighstuff2 a {
  border-radius: 50%;
  border: solid white;
  color: white;
  line-height: 2em;
  width: 6.9em;
  height: 6.9em;
  text-align: center;
  display: inline-block;
  transition:0.5s;

}
.saveColors h3{
  color: white;
  
}
.saveColors input{
  color: white;
  background-color: white;
  border-color: white;
  height: 1pt;
  width: 1pt;
}

.inactive {
  color: black;
  text-decoration: none;
  background-color: white;
}
.tabStuff{
  margin-top: 4%;
}
#five {
  text-align: center;
}
.Forgot h1{
  display: block;
  font-size: 60px;
  font-family: 'Palanquin Dark', sans-serif;
  text-align: center;
  color: white;
  margin-top: 10%;
}
.Forgot h2{
  display: block;
  font-size: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 4%;

}

.fa, .fa-home, .fa-plus-circle, .fa-cog,.fa-key {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
}

.Login h6 {
  display: block;
  font-size: 52px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 8%;
  color: #00CECB;
}
.Login h5 {
  display: block;
  font-size: 42px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 8%;
  color: #00CECB;
}
.Login h4 {
  margin-top: 0;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  text-align: left;
  display: inline-block;
}
.Login h3 {
  display: block;
  font-size: 120px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}
.Login h2 {
  display: block;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4%;
  text-align: center;
}
#exampleInputEmail1
{
  border-width: 0;
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #c7d0d8;
  margin-bottom: 2%;

}
#exampleInputEmail12
{
  border-width: 0; 
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 3px solid #c7d0d8;
  font-size: 25px;

}
#exampleInputEmail13
{
  border-width: 0; 
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 25px;
  border-radius: 25px;
  padding: 15px;

}
#LogIn
{
  font-family: 'Quicksand', sans-serif;
  background: #00CECB;
  border: 0;
  color: white;
  width: 165px;
  height: 30px;
  font-weight: bold;
  margin-top: 2%;
}
#Submit
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 165px;
  height: 30px;
  margin-bottom: 1%;
  font-weight: bold;
  background: #00CECB;
  margin-top: 5%;
}
#Submit2
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 270px;
  height: 30px;
  margin-top: 1%;
}
#Submit3
{
  font-family: 'Quicksand', sans-serif;
  background: black;
  border: 0;
  color: white;
  width: 170px;
  height: 40px;
  margin-top: 1%;
}
#ForgotIn
{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-size: 11px;
  color: black;
}
#Forgot
{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-size: 12px;
}
#SignUp{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
}
.dropbtn {
  background-color: white;
  color: #c7d0d8;
  padding: 16px;
  font-size: 16px;
  text-align: left;
  width: 1000px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #FF5E5B;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  min-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  color: #c7d0d8;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  color: #a5abb1;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.carousel {
  width:200px;
  height:150px;
  margin: auto;
}
.goback{
  z-index:-10;
}
.notes{
  z-index: -10;
    color: gray;
    border: 13px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: white;
}
.breakfast h2{
  color: #c7d0d8;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  display: inline-block;
  
}
.breakfast h3{
  color: black;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  margin-right: 3%;
  display: inline-block;
  
}
.breakfast h4{
  color: black;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  margin-right: 3%;
  display: inline-block;
  
  
}




.box {
  width: 200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  text-align: center;
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  color:black;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 10;
  
}
.overlay:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup {
  padding: 60px;
  background: #fff;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  border: 0px solid #00CECB;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #00CECB;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}




.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay2:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup2 {

  margin: 70px auto;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup2 .content {
  max-height: 30%;
  overflow: auto;
}
#select1:checked~div.wrapper2 {
  
  background-color: black;
  color: white;
}
#select2:checked~div.wrapper2 {
  
  background-color: #AED6F1;
  color: white;
}
#select3:checked~div.wrapper2 {
  background-color: #ABEBC6 ;
  color: white;
}
#select4:checked~div.wrapper2 {
  background-color: rgb(191, 173, 233) ;
  color: white;
}
#select5:checked~div.wrapper2 {
  background-color: rgb(77, 24, 8) ;
  color: white;
}
#select6:checked~div.wrapper2 {
  background-color: rgb(228, 159, 68) ;
  color: white;
}
#select7:checked~div.wrapper2 {
  background-color: rgba(245, 245, 112, 0.959);
  color: white;
}
#select8:checked~div.wrapper2 {
  background-color: palevioletred;
  color: white;
}

#sel1:checked~div.wrap {
  font-family: 'Quicksand', sans-serif;
}
#sel2:checked~div.wrap {
  font-family: "Calibri", Times, serif;
}
#sel3:checked~div.wrap {
  font-family: Arial, Helvetica, sans-serif;
}
#sel4:checked~div.wrap {
  font-family: Comic sans-serif, cursive, sans-serif;
}
#sel5:checked~div.wrap {
  font-family: 'Times New Roman', Times, serif;
}
#sel6:checked~div.wrap {
  font-family: 'franklin gothic', Times, serif;
}

#se1:checked~div.wr {
  font-size: 12px;
}
#se2:checked~div.wr {
  font-size: 18px;
}
#se3:checked~div.wr {
  font-size: 24px;
}
#se4:checked~div.wr {
  font-size: 30px;
}
#se5:checked~div.wr {
  font-size: 16px;
}
#se6:checked~div.wr {
  font-size: 42px;
}

#s1:checked~div.w {
  color: black;
}
#s2:checked~div.w {
  color: white;
}

.itinerary-fillout{
  padding:10px;
  margin:100px;
}
.itinerary-fillout h1 {
  color: #00CECB;
  text-align: center;
}
.itinerary-fillout label{
  color:#333;

}
.itinerary-fillout button {
  background-color: #00CECB;
  color:white;
  border: none;
}
.itinerary-fillout h4{
  text-align: center;
}
