/* UNIVERSAL */
h6 {
  font-family: 'Palanquin Dark', sans-serif;
}

h5 {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Palanquin Dark', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/* NAV BAR */
.nav-bar {
  box-shadow: 1px 2px 4px rgba(41, 41, 41, 0.2);
  text-decoration: none;
  background-color: #ABEBC6;
}

.nav-bar .navButtons {
  text-decoration: none;
  color: rgb(15, 5, 95);
}

Link {
  text-decoration: none;
}

.nav-bar h4 {
  color: rgb(15, 15, 15);
  font-weight: bold;
  text-decoration: none;
}

.nav-bar h5 {
  color: rgb(39, 39, 39);
  font-size: 23px;
}

/* HOME */
.home h3 {
  display: block;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.home h2 {
  display: block;
  font-size: 48px;
  margin-bottom: 4%;
  text-align: center;
}

.home .searchBar {
  position: relative;
  width: 70%;
  display: inline-block;
}

/* FAVORITES */
.favorites {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.planner .sandcastle {
  margin-left: 25%;
  opacity: 90%;
}

.planner .favP {
  text-align: center;
  color: #333;
}

/* ITINERARY PLANNER */
.planner {
  background-color: rgb(255, 255, 255);
  padding: 3%;
}

.planner h1 {
  font-weight: bolder;
  font-size: larger;
  color: rgb(29, 29, 29);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.planner h5 {
  font-weight: bolder;
  font-size: larger;
  color: black;
}

.planner h4 {
  font-weight: lighter;
  font-size: small;
  color: #333;
}

.planner h3 {
  font-weight: lighter;
  font-size: small;
  color: rgb(80, 80, 80);
}


.planner p {
  font-size: medium;
  font-weight: bold;
}

.planner h2 {
  font-weight: lighter;
  font-size: small;
  /* color: rgb(80, 80, 80); */
  color: #069;
  /* text-decoration: underline; */
  cursor: pointer;
}

.planner .card-img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.planner map {
  width: 85%;
  height: 10vw;
}

.planner Button {
  margin-right:5px;
}



/* RUJULA STUFF */
#container {
  width: 100%;
  height: 900px;
  background: white;
  margin: auto;
  padding: 10px;
}

#one {
  width: 60%;
  height: 700px;
  background: #c7d0d8;
  float: left;
}

#two {
  margin-left: 15%;
  height: 700px;
  background: white;
  text-align: center;
}
#three {
  width: 100%;
  height: 1000px;
  background: #c7d0d8;
  text-align: center;
}
#accountone {
  width: 30%;
  height: 900px;
  background: white;
  float: left;
}

#accounttwo {
  margin-left: 15%;
  height: 900px;
  background: #c7d0d8;
  text-align: center;
  
}
#icon{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0%;
}
#move{
  text-align: center;

}

#left {
  text-align: right;
  padding: 5px;
}
.Account h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;

}
.Account h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
  
}
.Account h3{
  display: block;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 8%;
  margin-bottom: 0%;
  
}
#cus{
  margin-top: 5%;
  margin-bottom: 5%;
  
}
#hello{
  width: 800pt;
}

.Custom time{
  height: 200px;
}
.Custom label {
  color: black;
  font-weight: bold;
  margin-left: 6pt;
  font-family: 'Quicksand', sans-serif;
  width: 100px;
  margin-top: 2%;
  text-align: left;
  }
  .Custom input{
    width: 1.2em;
    height: 1.2em;
    padding-left: 5pt;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    
  } 
.Custom input:checked {
  background-color: gray;
}
.Custom h1{
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.TimeInput input{
  background-color: transparent;
  border-color: transparent;
  color: black;
}
#timeeee{
  height: 250pt;
  margin-top: 3%;
}
#wakeup{
  margin-top: 3%;
  text-align: center;
}
#bedtime{
  margin-top: 3%;
  text-align: center;
}
#meals{
  height: 200pt;
}
#meal2{
  height: 50pt;
}
#meals4{
  height: 130pt;
  float: center;
}
.MealsStuff input{
  border-width: 0;
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 3px dotted #c7d0d8;
  margin-bottom: 1%;
  
}
.MealsStuff h4{
  margin-top: 3%;
  font-size: 20pt;
  margin-left: 5%;
}
#moreMealStuff{
  margin-left: 5%;
}
#RentalCar{
  text-align: center;
}
#carone {
  width: 75%;
  height: 200pt;
  background-color: #c7d0d8;
  border-width: 20pt;
  float: left;
}

#cartwo {
  margin-left: 15%;
  height: 200pt;
  background: white;
  text-align: center;
  border:15px solid #c7d0d8;
}
#carthree {
  height: 15pt;
  background: white;

}

.Car h1{
  margin-top: 3%;
  font-size: 27pt;
  color: #fff;
}
.Car h3{
  margin-left: 5%;
  font-size: 20pt;
  color: #fff;
}
.Car h4{
  font-size: 20pt;
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  color: #fff;
}
.Car h5{
  margin-left: 5%;
  color: white;
}
.Car2 h1{
  color: #fff;
}
.Carlable h5{
  text-align: center;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 30px;
  color: #c7d0d8;

}
.CarCar input{
  margin-left: 8%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
#CardLeft{
  margin-left: 8%;
  margin-top: 2%;
}
#planebut{
  font-family: 'Palanquin Dark', sans-serif;
  background-color: transparent;
  border-width: 4pt;
  border-color: #c7d0d8;
  margin-left: 280pt;
  font-size: 30px;
  width: 250pt;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #c7d0d8;
}
#planebut2{
  font-family: 'Palanquin Dark', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c7d0d8;
  margin-left: 280pt;
  font-size: 30px;
  width: 250pt;
  margin-top: 4%;
  margin-bottom: 4%;
  color: #c7d0d8;
}
#planebut3{
  font-family: 'Quicksand', sans-serif;
  background-color:#c7d0d8 ;
  border-width: 0pt;
  color: white;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 17pt;
}
#flight{
  width: 100%;
  height:280pt;
  background-color: #c7d0d8;
  display: inline-block;
  margin-right: 3%;
  text-align: center;
  margin-top: 3%;
}
.flightStuff input {
  margin-top: 1%;
  margin-bottom: 2%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 200pt;
  margin-left: 6%;
  font-family: 'Quicksand', sans-serif;
  font-size: 15pt;
}
#FlightLeft{
  text-align: right;
  margin-top: 4%;
  margin-right: 4%;
}

#FlightLeft2{
  
  width: 450pt;
  background-color: #c7d0d8;
}

.flightStuff h6{
  color: white;
  text-align: left;
  font-size: 20pt;
  font-family: 'Quicksand', sans-serif;
  margin-left: 4%;
}
.flightStuff h1{
  color: white;
  text-align: center;
  font-size: 28pt;
  font-family: 'Quicksand', sans-serif;
  text-decoration: bold;
  margin-top: 1%;
  margin-bottom: 3%;
}
.Plane h1{
  font-family: 'Palanquin Dark', sans-serif;
  text-decoration: bold;
  text-align: center;
  color: #c7d0d8;
}
.flighstuff2 a {
  border-radius: 50%;
  border: solid white;
  color: white;
  line-height: 2em;
  width: 6.9em;
  height: 6.9em;
  text-align: center;
  display: inline-block;
  transition:0.5s;

}
#five {
  text-align: center;
}
.Forgot h1{
  display: block;
  font-size: 40px;
  font-family: 'Palanquin Dark', sans-serif;
  text-align: center;
  color: #777a7c;
  margin-top: 8%;
  margin-bottom: 2%;
}
.Forgot h2{
  display: block;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 2%;

}

.fa, .fa-home, .fa-plus-circle, .fa-cog,.fa-key {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
}

.Login h6 {
  display: block;
  font-size: 52px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 12%;
}
.Login h5 {
  display: block;
  font-size: 42px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 12%;
}
.Login h4 {
  margin-top: 0;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  text-align: left;
  display: inline-block;
}
.Login h3 {
  display: block;
  font-size: 120px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}
.Login h2 {
  display: block;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4%;
  text-align: center;
}
#exampleInputEmail1
{
  border-width: 0;
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  border-bottom: 3px dotted #c7d0d8;
  margin-bottom: 1%;

}
#exampleInputEmail12
{
  border-width: 0; 
  box-shadow: none;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 3px solid #c7d0d8;
  font-size: 25px;

}
#LogIn
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 13%;
  height: 30px;
  margin-bottom: 1%;
}
#Submit
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 80px;
  height: 30px;
  margin-bottom: 1%;
  margin-top: 5%;
}
#Submit2
{
  font-family: 'Quicksand', sans-serif;
  background: #c7d0d8;
  border: 0;
  color: white;
  width: 270px;
  height: 30px;
  margin-top: 1%;
}
#ForgotIn
{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-size: 11px;
  color: black;
}
#Forgot
{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-size: 12px;
}
#SignUp{
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
}
.dropbtn {
  background-color: white;
  color: #c7d0d8;
  padding: 16px;
  font-size: 16px;
  text-align: left;
  width: 1000px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  min-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  color: #c7d0d8;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  color: #a5abb1;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.carousel {
  width:200px;
  height:150px;
  margin: auto;
}

.notes{
    color: gray;
    border: 13px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: white;
}
.breakfast h2{
  color: #c7d0d8;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  display: inline-block;
  
}
.breakfast h3{
  color: black;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  margin-right: 3%;
  display: inline-block;
  
}
.breakfast h4{
  color: black;
  font-size: 17pt;
  font-family: 'Quicksand', sans-serif;
  margin-right: 3%;
  display: inline-block;
  
  
}




.box {
  width: 99%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  text-align: center;
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  color:black;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup {
  margin: 70px auto;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}




.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay2:target {
  visibility: hidden;
  opacity: 0;
  display:none
}
.popup2 {
  margin: 70px auto;
  padding: 60px;
  background: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup2 .content {
  max-height: 30%;
  overflow: auto;
}
#select1:checked~div.wrapper2 {
  
  background-color: black;
  color: white;
}
#select2:checked~div.wrapper2 {
  
  background-color: #AED6F1;
  color: white;
}
#select3:checked~div.wrapper2 {
  background-color: #ABEBC6 ;
  color: white;
}
#select4:checked~div.wrapper2 {
  background-color: rgb(191, 173, 233) ;
  color: white;
}
#select5:checked~div.wrapper2 {
  background-color: rgb(77, 24, 8) ;
  color: white;
}
#select6:checked~div.wrapper2 {
  background-color: rgb(228, 159, 68) ;
  color: white;
}
#select7:checked~div.wrapper2 {
  background-color: rgba(245, 245, 112, 0.959);
  color: white;
}
#select8:checked~div.wrapper2 {
  background-color: palevioletred;
  color: white;
}

#sel1:checked~div.wrap {
  font-family: 'Quicksand', sans-serif;
}
#sel2:checked~div.wrap {
  font-family: "Calibri", Times, serif;
}
#sel3:checked~div.wrap {
  font-family: Arial, Helvetica, sans-serif;
}
#sel4:checked~div.wrap {
  font-family: Comic sans-serif, cursive, sans-serif;
}
#sel5:checked~div.wrap {
  font-family: 'Times New Roman', Times, serif;
}
#sel6:checked~div.wrap {
  font-family: 'franklin gothic', Times, serif;
}

#se1:checked~div.wr {
  font-size: 12px;
}
#se2:checked~div.wr {
  font-size: 18px;
}
#se3:checked~div.wr {
  font-size: 24px;
}
#se4:checked~div.wr {
  font-size: 30px;
}
#se5:checked~div.wr {
  font-size: 16px;
}
#se6:checked~div.wr {
  font-size: 42px;
}

#s1:checked~div.w {
  color: black;
}
#s2:checked~div.w {
  color: white;
}
