.eventBlock{
    width: inherit;
    height: inherit;
    color: #FFFFEA;
    background-color: #00CECB;
    margin: 0 auto;
}

.table-itinerary {
    background-color: #D8D8D8;
    color: #5E6472;
    
}

.card-tabletop {
    background-color:#00CECB;
    color:#FFFFEA;
    margin-left: 10px;
}
.card-tabletop h4 {
    margin-left: 10px;
    margin-bottom: 0px;
}
.container{
    widht:100%
}
.cancel-event{
    background-color: #FF5E5B;
    margin:10px;
    padding: 2px ;
}